<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="//" method="get">
        <label for="place">Enter place: </label>
        <input
          id="q"
          type="text"
          name="place_field"
          value="Enter  ." />
        <input type="submit" value="OK" />
        <label for="start">Start date:</label>

        <input type="date" id="start" name="trip-start"
            value="2022-09-24"
            min="2018-01-01" max="2024-07-31">
      </form>
    
</body>
</html>